### Assessing Lecturer Competency in Hybrid Learning Environments Using Decision Support System Approach Based on Student Feedback Questionnaire

### Mengevaluasi Kompetensi Dosen dalam Lingkungan Pembelajaran Hybrid Menggunakan Pendekatan Decision Support System Berdasarkan Kuesioner Umpan Balik Mahasiswa

# Dataset Analysis

In [14]:
# import csv
import pandas as pd
import numpy as np
import pingouin as pg

# read xls file
df = pd.read_excel('quiz_20221.xlsx')
df

,dosen,ta,nim,kdmk,nmmk,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,saran
0,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2017.10120,AF201703,TECHNOPRENEURSHIP,2,2,2,2,2,2,2,2,2,2,NaN
1,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2017.10350,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,4,4,4,4,4,NaN
2,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2018.11309,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,4,4,4,4,4,NaN
3,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2019.11618,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,4,4,4,4,4,ok
4,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2019.11622,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,4,4,4,4,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20092,"DIBYO ADI WIBOWO, S.Si., M.Si",20221,A11.2020.80018,A11.54508,STRATEGI ALGORITMA,4,3,3,4,4,4,4,4,4,4,Tidak ada
20093,"DIBYO ADI WIBOWO, S.Si., M.Si",20221,A11.2020.80018,A11.54812,METODE NUMERIK,4,4,4,4,4,4,4,4,4,4,Tidak ada
20094,"DEWI PERGIWATI, S.Kom., M.Kom",20221,A11.2018.11461,AF201704,DASAR DASAR KOMPUTASI,4,4,4,4,4,4,4,4,4,4,NaN
20095,"DEWI PERGIWATI, S.Kom., M.Kom",20221,A11.2021.13607,AF201704,DASAR DASAR KOMPUTASI,4,4,4,4,4,4,3,3,3,4,NaN
20096,"AYU ASHARI, S.S.T, M.Kes",20221,A11.2020.13081,U201701,DASAR KEWIRAUSAHAAN,3,3,3,4,3,3,3,3,3,3,NaN

In [15]:
df2 = df.copy()
df2 = df2.drop(['ta','nmmk','saran'], axis=1)
df2

,dosen,nim,kdmk,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10
0,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",A11.2017.10120,AF201703,2,2,2,2,2,2,2,2,2,2
1,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",A11.2017.10350,AF201703,4,4,4,4,4,4,4,4,4,4
2,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",A11.2018.11309,AF201703,4,4,4,4,4,4,4,4,4,4
3,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",A11.2019.11618,AF201703,4,4,4,4,4,4,4,4,4,4
4,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",A11.2019.11622,AF201703,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20092,"DIBYO ADI WIBOWO, S.Si., M.Si",A11.2020.80018,A11.54508,4,3,3,4,4,4,4,4,4,4
20093,"DIBYO ADI WIBOWO, S.Si., M.Si",A11.2020.80018,A11.54812,4,4,4,4,4,4,4,4,4,4
20094,"DEWI PERGIWATI, S.Kom., M.Kom",A11.2018.11461,AF201704,4,4,4,4,4,4,4,4,4,4
20095,"DEWI PERGIWATI, S.Kom., M.Kom",A11.2021.13607,AF201704,4,4,4,4,4,4,3,3,3,4
20096,"AYU ASHARI, S.S.T, M.Kes",A11.2020.13081,U201701,3,3,3,4,3,3,3,3,3,3

## Check Unique Classes Count

In [16]:
df3 = df.copy()
dosen = df3['dosen'].unique()
students = df3['nim'].unique()
classes = df3['kdmk'].unique()

print("unique classes", len(classes))
print("student count", len(students))
print("lecturer count", len(dosen))

unique classes 42
student count 3143
lecturer count 135

### Check Overall Cronbach Alpha Based on Selected Aspect  

The two aspects that we selected are as follows:  
- Knowledge Mastery, how well the lecturer knows about the academic material. Covered by P1,P2,P3,P5,P10
- Teaching Skill, how well the lecturer transfers the knowledge to the students. Covered by P4,P6,P7,P8,P9

In [17]:
df_km = df3.copy()
df_km = df_km.drop(['q4','q5','q6','q7','q8','q9'], axis=1)
df_km

,dosen,ta,nim,kdmk,nmmk,q1,q2,q3,q10,saran
0,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2017.10120,AF201703,TECHNOPRENEURSHIP,2,2,2,2,NaN
1,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2017.10350,AF201703,TECHNOPRENEURSHIP,4,4,4,4,NaN
2,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2018.11309,AF201703,TECHNOPRENEURSHIP,4,4,4,4,NaN
3,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2019.11618,AF201703,TECHNOPRENEURSHIP,4,4,4,4,ok
4,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2019.11622,AF201703,TECHNOPRENEURSHIP,4,4,4,4,NaN
...,...,...,...,...,...,...,...,...,...,...
20092,"DIBYO ADI WIBOWO, S.Si., M.Si",20221,A11.2020.80018,A11.54508,STRATEGI ALGORITMA,4,3,3,4,Tidak ada
20093,"DIBYO ADI WIBOWO, S.Si., M.Si",20221,A11.2020.80018,A11.54812,METODE NUMERIK,4,4,4,4,Tidak ada
20094,"DEWI PERGIWATI, S.Kom., M.Kom",20221,A11.2018.11461,AF201704,DASAR DASAR KOMPUTASI,4,4,4,4,NaN
20095,"DEWI PERGIWATI, S.Kom., M.Kom",20221,A11.2021.13607,AF201704,DASAR DASAR KOMPUTASI,4,4,4,4,NaN
20096,"AYU ASHARI, S.S.T, M.Kes",20221,A11.2020.13081,U201701,DASAR KEWIRAUSAHAAN,3,3,3,3,NaN

In [18]:
pg.cronbach_alpha(data=df_km)

AssertionError: All columns must be numeric.

In [19]:
df_ts = df3.copy()
df_ts = df_ts.drop(['q1','q2','q3','q5','q10'],axis=1)
df_ts

,dosen,ta,nim,kdmk,nmmk,q4,q6,q7,q8,q9,saran
0,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2017.10120,AF201703,TECHNOPRENEURSHIP,2,2,2,2,2,NaN
1,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2017.10350,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,NaN
2,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2018.11309,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,NaN
3,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2019.11618,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,ok
4,"Prof. Dr. Ir EDI NOERSASONGKO, M.Kom",20221,A11.2019.11622,AF201703,TECHNOPRENEURSHIP,4,4,4,4,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20092,"DIBYO ADI WIBOWO, S.Si., M.Si",20221,A11.2020.80018,A11.54508,STRATEGI ALGORITMA,4,4,4,4,4,Tidak ada
20093,"DIBYO ADI WIBOWO, S.Si., M.Si",20221,A11.2020.80018,A11.54812,METODE NUMERIK,4,4,4,4,4,Tidak ada
20094,"DEWI PERGIWATI, S.Kom., M.Kom",20221,A11.2018.11461,AF201704,DASAR DASAR KOMPUTASI,4,4,4,4,4,NaN
20095,"DEWI PERGIWATI, S.Kom., M.Kom",20221,A11.2021.13607,AF201704,DASAR DASAR KOMPUTASI,4,4,3,3,3,NaN
20096,"AYU ASHARI, S.S.T, M.Kes",20221,A11.2020.13081,U201701,DASAR KEWIRAUSAHAAN,4,3,3,3,3,NaN

In [20]:
pg.cronbach_alpha(data=df_ts)

AssertionError: All columns must be numeric.

We found that the CA score for knowledge mastery aspect is 0.90, and CA score for teaching skill is 0.89

In [21]:
import itertools

# Create an array of 10 numbers
numbers = ['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10']

df_ca_test = pd.DataFrame(columns=['combination1', 'CA1score', 'combination2', 'CA2score', 'totalCA'])

# Get all possible permutations of the array
combinations = itertools.combinations(numbers,5)

# Loop through all permutations and print them
for combination1 in combinations:

    #copy original dataframe
    df_ca = df3.copy()

    #extract items from tuple
    combination1 = list(combination1)

    #eliminate combination list from numbers list
    combination2 = numbers.copy()
    for item in combination1:
        combination2.remove(item)

    # #drop columns
    df_ca1 = df_ca.drop(combination1, axis=1)
    df_ca2 = df_ca.drop(combination2, axis=1)

    #calculate cronbach alpha
    ca_score1 = pg.cronbach_alpha(data=df_ca1)
    ca_score2 = pg.cronbach_alpha(data=df_ca2)

    # round to 2 decimal places
    ca_score1 = round(ca_score1[0], 2)
    ca_score2 = round(ca_score2[0], 2)

    # calculate sum of ca_score
    total_ca = ca_score1 + ca_score2

    #add all data to dataframe
    df_ca_test.loc[len(df_ca_test)] = [combination1, ca_score1, combination2, ca_score2, total_ca]
    

df_ca_test

AssertionError: All columns must be numeric.

Assessing Lecturer Competency in Hybrid Learning Environments Using Decision Support System Approach Based on Student Feedback Questionnaire